body{
    padding: 0;
    margin: 0;
    opacity: 0.95;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Roboto Mono", monospace;
    
}


#frstimg{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
}
   
  

nav{
    top: 2%;
    position: absolute;
    width: calc(100%);
    max-width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    align-items: center;
    z-index: 2;
 
}

.cont{
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#callus{
    height: 60px;
    width: 200px;
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.6;
    border: none;
    position: relative;
    right: 20px;
    z-index: 1;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
}

#logomount{
    position: relative;
    left: 20px;
    width: 100px; 
    z-index: 1;
}



.main{
    display: flex;
    height: 300px;
    width: 992px;
    justify-content: space-between;
  
    
    
}

#add_country{
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    grid-column: 1; 
    opacity: 0.85;
    grid-row: 1; 
    border-radius: 19px;
}

#add_city{
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    opacity: 0.85;
    grid-column: 2; 
    grid-row: 1; 
    border-radius: 19px;
}

#add_hotel{
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    opacity: 0.85;
    grid-column: 3;
    grid-row: 1;
    border-radius: 19px;
}

input{
    border-radius: 10px;
    border: none;
    height: 25px;
    margin-left: 60px;
    margin-bottom: 15px;
}

input[type="button"]{
    border-radius: 10px;
    height: 25px;
    margin-left: 60px;
    margin-bottom: 15px;
    background-color: rgb(152, 152, 152);
    color: aliceblue;
}

select{
    border: none;
    height: 25px;
    width: 173px;
    margin-left: 60px;
    margin-bottom: 10px;

}

#id_country_one{
    margin-bottom: 10px;
}

#id_country{
    margin-bottom: 10px;
}

#id_city{
    margin-bottom: 10px;
}

h2{
    margin-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4{
    margin: 0;
    margin-left: 60px;
    margin-bottom: 3px;
}

#admin{
    background-color: white;
    height: 600px;
    width: 400px;
    font-size: larger;
    margin-left: 60px;
}




.container{
    position: relative;
   
    width: 100%;
    height: 100%;
    top: 150px;
}

#one{
    position: relative;
  
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#one h1{
    width: 100%;
    font-size: 45px;
    color: #6d6b6b;
    font-family: "Roboto Mono", monospace;
}

.blocks{
    width: 800px;
    height: 100px;
    display: flex;
    gap: 20px;

    
}

#heart{
    width: 20px;
    margin-left: 10px;
}

.blockone{
    height: 100px;
    width: 400px;
    border-radius: 30px;
    border: 2px solid rgb(206, 206, 206);
    display: flex;
    text-align: center;
    align-items: center;
}

.blocktwo{
    height: 100px;
    width: 400px;
    border-radius: 30px;
    border: 2px solid rgb(206, 206, 206);
    display: flex;
    text-align: center;
    align-items: center;
}

.blockone p {
    width: 100%;
    color: white;
}

.blocktwo p {
    width: 100%;
    color: white;
}

#selecttwo{
    margin-top: 80px;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#two{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 410px;
    width: 100%;
    height: 1200px;
    background-color: aliceblue;
}

.blocktext{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
    width: calc(100%);
    max-width: 1700px;
    height: 400px;
    background-color: aliceblue;
}

.blocktext p {
    margin: 0;
    font-size: 64px;
    line-height: 100px;
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
}

.blocktextandbtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.blocktextandbtn p{
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
    line-height: 100px;
    color: #5b5b5b;
}

.blocktextandbtn button{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;

}

#heartt{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.blockcards{
    position: relative;
    display: flex;
    top: 150px;
    width: 97%;
    margin: 0 auto;
    height: 400px;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-between;
}

.frstcard{
    width: 600px;
    height: 350px;
    border: 3px solid rgb(206, 206, 206);
    border-radius: 20px;
    background-color: aliceblue;
}
.mblock{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mblock img{
    width: 450px;
    height: 250px;
    border-radius: 20px;
}

.mblock p{
    font-size: 18px;
    width: 430px;
    line-height: 20px;
}

.numbermblock{
    position: absolute;
    top: 20px;
    left: 535px;
    font-size: 35px !important;
    margin: 0;
    width: 30px !important;
}

#lstbckg{
    position: relative;
    margin: 0;
    padding: 0;
    top: 410px;
    width: 100%;
    height: 950px;
    z-index: 0;
}

.tint{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 1982px;
    height: 33.66%;
    background-color: rgb(0, 0, 0); 
    opacity: 0.5;
    z-index: 1;
}

.contik{
    position: relative;
    display: flex;
    top: -100px;
    align-items: center;
    width: 100%;
    z-index: 999;

}

.contik p{
    position: relative;
    top: -500px;
    margin-left: 80px;
    color: white;
    font-size: 40px;
}
